@config "../../tailwind.config.ts";
@import 'tailwindcss';

@layer base {
  :root {
    --bg: #f6f6f6;
    --text: #010101;
    --bg-btn: #1d1d1d;
    --text-btn: #f6f6f6;
    --primary-grey: #5d5a5a;
    --secondary-grey: #938b8b;

    --font-mono: 'Roboto Mono', monospace;
  }

  .dark {
    --bg: #1a1a1a;
    --text: #f6f6f6;
    --bg-btn: #f6f6f6;
    --text-btn: #010101;
    --primary-grey: #bbb7b7;
    --secondary-grey: #f6f6f6;
  }

  @font-face {
    font-family: 'Roboto Mono';
    src:
      url('/fonts/RobotoMono-Regular.woff2') format('woff2'),
      url('/fonts/RobotoMono-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  body {
    @apply font-mono text-base;
  }
}

@layer components {
  .icon-btn {
    @apply p-2
     cursor-pointer
      focus-visible:outline-none;
  }

  .icon {
    @apply text-[var(--primary-grey)]
      text-xl
      md:text-2xl
      transition-colors
      duration-300
      group-hover:text-primary-yellow
      group-focus-visible:text-primary-yellow;
  }
}
