@config "../../tailwind.config.ts";
@import 'tailwindcss';

@layer base {
  :root {
    --bg: #f1f1f1;
    --text: #010101;
    --font-mono: 'Roboto Mono', monospace;
  }

  .dark {
    --bg: #010101;
    --text: #f1f1f1;
  }

  @font-face {
    font-family: 'Roboto Mono';
    src:
      url('../fonts/RobotoMono-Regular.woff2') format('woff2'),
      url('../fonts/RobotoMono-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  body {
    @apply font-mono text-base;
  }
}

@layer components {
  .icon-btn {
    @apply p-2
     cursor-pointer
      focus-visible:outline-none
      focus-visible:ring-2
      focus-visible:ring-secondary-cyan
      focus-visible:ring-offset-2;
  }

  .icon {
    @apply text-primary-yellow
      text-base
      md:text-2xl
      lg:text-[32px]
      transition-colors
      duration-300
      group-hover:text-secondary-cyan
      group-focus-visible:text-secondary-cyan;
  }
}
