@import 'tailwindcss';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* LIGHT THEME */
  :root {
    --bg: #f1f1f1;
    --text: #010101;

    --font-mono: 'Roboto Mono', monospace;
  }

  /* DARK THEME */
  .dark {
    --bg: #010101;
    --text: #f1f1f1;
  }

  @font-face {
    font-family: 'Roboto Mono';
    src:
      url('../fonts/RobotoMono-Regular.woff2') format('woff2'),
      url('../fonts/RobotoMono-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  body {
    @apply font-mono text-base;
  }
}
